
/* class used */
/* .tbl */

main {
  max-height: 700px;
  max-width: 800px;
  overflow: scroll;
}

/* .score-table {
  display: flex;
  flex-wrap: nowrap;
  max-height: 700px;
  max-width: 800px;
} */

table, th, td {
  border: 1px solid #333f48;
  border-collapse: collapse;
  color: #BF5700;

}