
/* class used */
/* .tbl */

main {
  
  max-height: 700px;
  width: 85%;
  overflow: scroll;
  margin: 25px;
  
}


table, th, td {
  
  border: 1px solid #333f48;
  border-collapse: collapse;
  color: #BF5700;
  display: table-cell;

}



